.Single-Profile{
    padding: 2rem 2rem 2rem 2rem;
}

.heading-single-profile{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
}

.single-profile-layout{
    display: flex;
    justify-content: space-between;
}

.Related-Courses{
    width: 34vw;
    border: 1px solid;
    margin-right: 100px;
}